* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .page {
    display: flex;
    flex-wrap: wrap;
  }

  .header-container {
      background: linear-gradient(white, blue);
      padding: 10px;
      width: 100%;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 20px;
    width: 40%;
    height: 300px;
    display: flex;
    align-items: center;
    font-size: 2em;
    border: 3px solid #0a0a0a;
  }
  
  .one {
    text-align: center;
  }
  
  .two {
    text-align: center;
  }


  .three {
    text-align: center;
  }
  
  .four {
    text-align: center;
  }

  .foot {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

  .foot-item {
    height: 40px;
    flex: 1;
    background: linear-gradient(white, blue);
  }

  .footer-one {
    padding: 10px;
}
  .footer-three {
    padding: 10px;
    text-align: end;
}

  @media(max-width: 800px) {
    .cards{
      margin: 40px;
      flex-direction: column;
    }
    .card {
      margin: 10px;
      width: 100%;
    }
  }
  